@import 'variables.scss';
@font-face {
	font-family: Orienta;
	src: url(/Orienta-Regular.ttf);
}
* {
	margin: 0;
	padding: 0;
	font-family: Orienta;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}
body,
html {
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}
a{
    text-decoration: none;
    color: $textDark;
}
.page {
	display: flex;
	flex-direction: column;
	flex: 1;
}
input:disabled{
	cursor: not-allowed !important;
	filter: saturate(0.6)!important;
}
#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
@media (max-width: 650px) {
	.page{
		margin-top: 1rem;
	}
}